.journalist-border
{
    border:solid !important;
    border-width:2px !important;
    border-radius:10px !important;
    border-color:light-gray !important;
}
.font-size-60
{
    font-size:60px !important;
}
.font-size-35
{
    font-size:35px !important;
}
.font-size-20
{
    font-size:20px !important;
}
.font-size-25
{
    font-size:25px !important;
}
.width-200
{
    width:200px !important;
}
.height-150
{
    height:150px !important;
}
.width-50
{
    width:25px !important;
}
.height-50
{
    height:50px !important;
}
.width-300
{
    width:300px !important;
}
.size-60-60
{
    width:60px !important;
    height:60px !important;
}
.cursor-pointer
{
    cursor:pointer !important;
}
.size-150-150
{
    width:50px !important;
    height:50px !important;
    color:green;
}
.pos-center
{
margin-left:50% !important;
transform: translate(-50%) !important;
}
.pos-center1
{
margin-left:30% !important;
transform: translate(-30%) !important;
}
.calambur{
    width:500px !important;
    height:550px !important;
}
